<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--User redirected to Default.aspx to Login-->
      <authentication mode="Forms">
        <forms loginUrl="Default.aspx" timeout="2880" />
      </authentication>
      <!--Anonymous Users are denied access-->
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    <location path="Default.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
</configuration>
